{% extends 'fort.html' %}
{% block title %}
    {{user.username|title}}'s Profile
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5">
      {% include 'partials/_messages.html' %}
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card" style="width: 18rem;">
                  <div class="embed-responsive embed-responsive-1by1">
                    <img src="{{ user.author.picture.url }}" class="card-img-top embed-responsive-item  img-fluid">
                  </div>
                    <div class="card-body">
                      <h4 class="card-title">
                          {{user.author.name|title}}
                          <p><small>@{{user.username}}</small></p>
                        </h4>
                    </div>
                  </div>
            </div>
            <div class="col-md-8 ">
                <div class="card">
                    <div class="card-header text-white text-center">
                       <h4><i class="fas fa-globe-africa"></i>Profile Settings</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-sm-6">
                              {{form.name|as_crispy_field}}
                            </div>
                            <div class="form-group col-sm-6">
                              {{form.email|as_crispy_field}}
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-sm-12">
                              {{form.bio|as_crispy_field}}
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-sm-6">
                              {{form.instagram|as_crispy_field}}
                            </div>
                            <div class="form-group col-sm-6">
                              {{form.phone|as_crispy_field}}
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-sm-6 mx-auto">
                              {{form.picture|as_crispy_field}}
                            </div>
                          </div>
                            <button type="submit" class="btn btn-sm btn-block" style="background-color: #e91e63;color: #fff;">Update</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}